.container {
    background-color: white;
    border-radius: 10px;
    margin: 15px 0;
}

.listItem {
    margin: 5px 15px;
}

.name {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px 10px 5px 10px;
    display: flex;
    justify-content: space-between;

    &:hover {
        background-color: orange;
    }
}