@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Quintessential&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background: rgb(255,220,17);
  background: linear-gradient(0deg, rgba(255,220,17,1) 0%, rgba(255,180,1,1) 63%, rgba(255,179,0,1) 91%, rgba(255,255,255,1) 96%); 
}

.content {
  max-width: 650px;
  margin: auto;
}